<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeExamples"
        tools:targetApi="31">
        <activity
            android:name="com.compose.android.screen.navigation.NavigationExample"
            android:exported="true"
            android:label="@string/title_activity_navigation_example"
            android:theme="@style/Theme.ComposeExamples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.bottomnav.BottomNavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/Theme.ComposeExamples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.effecthandlers.launchedeffect.LaunchedEffectActivity"
            android:exported="true"
            android:label="@string/title_activity_launched_effect"
            android:theme="@style/Theme.ComposeExamples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.constraintlayout.ConstriantLayoutExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_constriant_layout_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.lazylist.LazyLoadExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_lazy_load_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.simplelist.SimpleListExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_simple_list_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.edittext.EditTextExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_edit_text_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.stateflow.StateFlowExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_state_flow_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.textview.TextStyleExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_text_style_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.image.ImageExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_image_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.modifier.ModifierExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_modifier_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.rowcolums.RowExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_row_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.rowcolums.ColumnExampleActivity"
            android:exported="true"
            android:label="@string/title_activity_column_example"
            android:theme="@style/Theme.ComposeExamples" />
        <activity
            android:name=".screen.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeExamples" />
    </application>

</manifest>